<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="ClinicEntities" connectionString="metadata=res://*/Model.ClinicDataBaseModel.csdl|res://*/Model.ClinicDataBaseModel.ssdl|res://*/Model.ClinicDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Clinic;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>